[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pillow-heif = "*"
exifread = "*"
ffmpeg-python = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-dependency = "*"
