{{ define "image_form" }}
<div class="mb-3 form-floating">
  <label for="formFileMultiple" class="form-label">Multiple files upload</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
{{ end }}
