# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and test Python application

on:
  push:
    branches:
      - "main"
    paths:
      - "**.py"
      - .github/workflows/python-tests.yml
      - Dockerfile
      - Pipfile
      - Pipfile.lock
  pull_request:
    branches:
      - "main"
    paths:
      - "**.py"
      - .github/workflows/python-tests.yml
      - Dockerfile
      - Pipfile
      - Pipfile.lock

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Python 3.13
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip pipenv wheel
      - name: Install dependencies
        run: |
          pipenv requirements --dev > requirements.txt
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          pytest
